body {
  font-size: 1.7em;
  background-color: #673AB7; /*violet*/
  padding: 1em;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: white;/*blanc*/
}

#logo {
  margin-top: 33vh;
  width: 100%;
  transform: rotate(-10deg) translateY(-50%);
  text-align: center;
  font-size: 70px;
  text-shadow: 1px 1px 0 black,
              2px 2px 0 black,
              3px 3px 0 black,
              4px 4px 0 black,
              5px 5px 0 black,
              6px 6px 0 black;
}
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  padding-left: 1em;
  margin: 0;
  height: 50px;
  width: 100%;
  background-color: #673AB7; /*violet*/
  z-index: 1;
}

.main-menu li {
  display: inline-block;
  list-style: none;
}

/*
.main-menu a.active {
  opacity: 1;
  transition: opacity 0.25s;
}*/

.menu-item.active  a, .main-menu a.active {
  opacity: 1;
  transition: opacity 0.25s;
}

.main-menu a {
  color: inherit;
  opacity: 0.5;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  padding-right: 0.2em;
  line-height: 50px;
  text-decoration: none;
  transition: opacity 0.25s;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

}
#post-new-khote, .khote-separator {
  font-size: 1.3em;
}

.khote-separator {
  margin: 14px 0 8px 0;
}
#close-writing-page {
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 1.3em;
}
#close-writing-page:hover {
  opacity: 0.5;
}
#auto-fav {
  display: inline-block;
  font-weight: 400;
  font-size: 1.3em;
  margin-left: 25px;
}
button.regular {
  background-color: transparent;
  color: white;
  border: 2px solid white;/*blanc*/
  border-radius: 0.2em;
  outline: none;
  padding: 0.2em 0.5em;
  font-size: 1.3em;
}
#form-buttons {
  margin-top: 28px;
  white-space: nowrap;
}

input[type="submit"]:hover {
  background-color: white; /*blanc*/
  color: #673AB7;
}

input[type="text"], input[type="password"], textarea {
  font-size: 1.6em;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);/*blanc*/
  outline: none;
  margin-bottom: 10px;
}
textarea {
  resize: none;
  border-color: transparent;
  height: 4.8em;
  z-index: 1;
  line-height: 1.6em;
}

.textarea-wrap {
  position: relative;
}
.hidden-bar {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);/*blanc*/
  color: transparent;
  width: 100%;
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 0;
}
.hidden-p-wrap {
  z-index: -1000;
  position: absolute;
  width: 100%;
  top: 0;
}
#test-input {
  word-break: break-word;
  width: 400%;
}

#khote-list {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.khote {
  width: 100%;
  font-size: 1.3em;
  margin: 1em auto;
  /*border-bottom: 2px solid rgba(255, 255, 255, 0.5);*/
}

.khote:hover {
  border-color: gray;
}

#add-khote {
  text-decoration: none;
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 100%;
  background-color: #64FFDA;
  border: 1px solid #00695C;
  box-shadow: 0 0 4px gray;
  color: white;
  font-weight: 700;
  font-size: 2.3em;
}

#add-khote:visited {
  color: white;
  text-decoration: none;
}

.khote-text {
  margin: 0;
}

.khote-button {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  font-size: 0.85em;
}

.khote-button:hover {
  opacity: 1;
  outline: none;
}

.up-number, .down-number, .fav-number, .flag-number {
}


.switch_form, .switch_form:visited, .switch_form:hover, .switch_form:focus {
  display: block;
  opacity: 0.8;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}


